*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagran-warpper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}


.instaPhone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.intaLoguin{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    min-height: 40rem;
}

.grup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray ;
    margin: 2px;
}

.grup:nth-child(1){
    min-height: 26rem;
}

.Instalogo{
    height: 7rem;
}

.profPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.ProfPic{
    width: 150px;
    height: 10rem;
}

.InstaLoguin{
    background-color: mediumturquoise;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}


.InstaLogout{
    color: mediumturquoise;
    margin-top: 1rem;
    padding: 8px;
    border-radius: 4px;
}

.naoConta{
    color: grey;
}


.linkBlue{
    color: #55f;
}

.byTheApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.appDownload{
    height: 3rem;
    width: 10rem;
    background-size: cover;   
}

.appDownload:nth-child(1){
    background-image: url('../imgs/AppStoreBTN.png');
}
.appDownload:nth-child(2){
    background-image: url('../imgs/GooglePlayBTN.png');
}


@media (max-width: 1024px) {
    .instagran-warpper{
        width: 90%;
    }

}
@media (max-width: 1300px) {
    .instagran-warpper{
        width: 90%;
    }

}

@media (max-width: 925px) {
    .instagran-warpper{
        width: 100%;
    }

}

@media (max-width: 830px) {
    .instagran-warpper{
        width: 100%;
        justify-content: center;
    }
    .instaPhone{
        display: none;
    }
    .intaLoguin{
        width: 60%;
    }

}

@media (max-width: 650px) {
    .instagran-warpper{
        width: 90%;
    }
    .instaPhone{
        display: none;
    }
}
